{% extends 'project/base.html' %}

{% block content %}
    <p>OrgSpark is a collaborative writing project.
      Submit the next piece of the story and vote to decide what comes next.
      We’ll track how much of each story is yours.  </p>
    <p>Pick a story and contribute!</p>
    <p>________________________________________________________</p>
    <h1><a href="/story1">Story One</a></h1>
    <p>________________________________________________________</p>
    <h1><a href="/story2">Story Two</a></h1>
    <p>________________________________________________________</p>
    <h1><a href="/story3">Story Three</a></h1>
    <p>________________________________________________________</p>
    <h1><a href="/story4">Story Four</a></h1>
{% endblock %}
