{% extends 'project/base.html' %}

{% block content %}
    <h2>OrgSpark is a collaborative writing project.
      Submit the next piece of the story and vote to decide what comes next.
      We’ll track how much of each story is yours.  </h2>
    <p>Pick a story and contribute!</p>


    {% for Story in all_stories %}
        <p>____________________________________________________________________________</p>
        <h1><a href="/{{Story.slug}}">{{Story.title}}</a></h1>
        <p> Muse: {{Story.muse}}</p>
        <p> {{Story.prompt}}</p>

    {% endfor %}



{% endblock %}
