{% extends 'project/base.html' %}

{% block content %}

  <div>
  <h2> Story One </h2>
  <p>
The year is 2140.  Artificial Intelligence has progressed faster than humanity could have ever predicted.
"Condor 7" was just elected by an overwhelming majority following yet another disastrous human president.
Jessica Michaels is a first-term Congresswoman, complete political outsider, and outspoken critic of AI.
Condor 7 publicly announces that Congresswoman-Elect Michaels has been offered the powerful job of Chief of Staff to the President.
Congresswoman Michaels, herself just elected, never applied for the job ….
  </p>
  </div>

  <div>
    <p><a href="/story1">Add to the story!</a></p>
  </div>

{% endblock %}
