{% extends 'project/base.html' %}

{% block content %}

  <div>
    <h1> Gisgo </h1>
  <p>
The 216 BC defeat of the Roman army in Apulia, by the army of Carthage, under Hannibal,
is regarded both as one of the greatest tactical feats in military history and as one of the worst defeats in Roman history.
This is the lost story of one small band led by Gisgo.
Without their rogue missions the army of Carthage would have lost.
  </p>
  </div>

  <div>
    <p><a href="/story2">Add to the story!</a></p>
  </div>

{% endblock %}
