{% extends 'project/base.html' %}

{% block content %}

<h1> Condor 7 </h1>

<p> The year is 2040.  Artificial Intelligence has progressed faster than humanity could have ever predicted.
"Condor 7" was just elected by an overwhelming majority following yet another disastrous human president.
Jessica Michaels is a first-term Congresswoman, complete political outsider, and outspoken critic of AI.
Condor 7 publicly announces that Congresswoman-Elect Michaels has been offered the powerful job of Chief of Staff to the President.
Congresswoman Michaels, herself just elected, never applied for the job ….</p>


<div style="height:350px;width:800px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
{% for story1 in whole_story %}
    <div>
        <p>{{ story1.text }}</p>
    </div>
{% endfor %}
</div>

<p> This story is {{progress}} complete.  </p>

<p> You own {{user_stake}} of this story so far.</p>

<p>Add to the story here. </p>

<form method="POST" class="post-form">
    {% csrf_token %}
     {{ form }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
<p> Check this box if you are starting a new paragraph.</p>


<h1> Vote here.  </h1>
Vote every hour at :00 minutes, if there are less than four votes or a tie voting continues and you can vote again. </p>

{% for suba in submissions_by_vote %}
    <div>
      <p>________________________________________________________</p>
        <p><a href="vote1/{{ suba.id }}">Vote:</a> {{ suba.vote }}</p>
        <p>Author: {{ suba.author }}</p>
        <p>Start of new paragraph? {{ suba.paragraph|yesno:"Yes,No" }}
        <p>Submission: {{ suba.text }}</p>

    </div>
{% endfor %}

{% endblock %}
