{% extends 'project/base.html' %}

{% block content %}

<h1> {{title}} </h1>

<p> {{prompt}} </p>


<div style="height:350px;width:800px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
{% for Story_by_paragraph in whole_story %}
    <div>
        <p>{{ Story_by_paragraph.text }}</p>
    </div>
{% endfor %}
</div>

<p> This story is {{progress}} complete.  </p>

<p> You own {{user_stake}} of this story so far.</p>

<p>Add to the story here. </p>

<form method="POST" class="post-form">
    {% csrf_token %}
     {{ form }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
<p> Check this box if you are starting a new paragraph.</p>


<h1> Vote here.  </h1>
Vote every hour at :00 minutes, if there are less than four votes or a tie voting continues and you can vote again. </p>

{% for Submission in submissions_by_vote %}
    <div>
      <p>________________________________________________________</p>
        <p><a href="{{slug}}/{{ Submission.id }}">Vote:</a> {{ Submission.vote }}</p>
        <p>Author: {{ Submission.author }}</p>
        <p>Start of new paragraph? {{ Submission.paragraph|yesno:"Yes,No" }}
        <p>Submission: {{ Submission.text }}</p>

    </div>
{% endfor %}

{% endblock %}
