
{% extends 'project/base.html' %}

{% block content %}

<h1> The Gem of Nye </h1>
<p> Four factions with powers which match the elements; Earth, Wind, Water and Fire battle for control of the Legendary Gem of Nye.
Whoever controls the Gem of Nye rules the planet. </p>


<div style="height:350px;width:800px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
{% for story3 in zzz %}
    <div>
        <p>{{ story3.text }}</p>
    </div>
{% endfor %}
</div>

<p> This story is {{progress3}} complete.  </p>

<p> You own {{stake3}} of this story so far.</p>

<p>Add to the story here. </p>

<form method="POST" class="post-form">
    {% csrf_token %}
     {{ form }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
<p> Check this box if you are starting a new paragraph.</p>


<h1> Vote here.  </h1>
Vote every hour at :30 minutes, if there are less than four votes or a tie voting continues and you can vote again. </p>

{% for subc in subc3 %}
    <div>
      <p>________________________________________________________</p>
        <p><a href="vote3/{{ subc.id }}">Vote:</a> {{ subc.vote }}</p>
        <p>Author: {{ subc.author }}</p>
        <p>Start of new paragraph? {{ subc.paragraph|yesno:"Yes,No" }}
        <p>Submission: {{ subc.text }}</p>

    </div>
{% endfor %}

{% endblock %}
