{% extends 'project/base.html' %}

{% block content %}

<h1> Next vote at :00 minutes. </h1>

<a href="/story1read">Read the story so far....</a>
<p>________________________________________________________</p>

<a href="/prompt1">What's the story about?</a>
<p>________________________________________________________</p>

<a href="/story1submit">Add to the story...</a>

{% for suba in suba1 %}
    <div>
      <p>________________________________________________________</p>
        <p><a href="vote1/{{ suba.id }}">Vote:</a> {{ suba.vote }}</p>
        <p>Author: {{ suba.author }}</p>
        <p>Start of new paragraph? {{ suba.paragraph|yesno:"Yes,No" }}
        <p>Submission: {{ suba.text }}</p>

    </div>
{% endfor %}


{% endblock %}
