
{% extends 'project/base.html' %}

{% block content %}

<h1> Gisgo </h1>
<a href="/prompt2">The Prompt</a>


<div style="height:350px;width:800px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
{% for story2 in zzz %}
    <div>
        <p>{{ story2.text }}</p>
    </div>
{% endfor %}
</div>

<p> This story is {{progress2}} complete.  </p>

<p> You own {{stake2}} of this story so far.</p>

<p>Add to the story here. </p>

<form method="POST" class="post-form">
    {% csrf_token %}
     {{ form }}
    <button type="submit" class="save btn btn-default">Save</button>
</form>
<p> Check this box if you are starting a new paragraph.</p>


<h1> Vote here.  </h1>
Vote every hour at :15 minutes, if there are less than four votes or a tie voting continues and you can vote again. </p>

{% for subb in subb2 %}
    <div>
      <p>________________________________________________________</p>
        <p><a href="vote2/{{ subb.id }}">Vote:</a> {{ subb.vote }}</p>
        <p>Author: {{ subb.author }}</p>
        <p>Start of new paragraph? {{ subb.paragraph|yesno:"Yes,No" }}
        <p>Submission: {{ subb.text }}</p>

    </div>
{% endfor %}

{% endblock %}
